.foot{
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(156,152,158,1));
    color: white;
    font-size: 20px;
    text-align: center;
    float: left;
    width: 100%;
    }
    .col-lg-3 .about{
        text-decoration: none;
    }
    i{
        margin: 5px;
    }
    .name{
        font-weight: bold;
        margin: 20px;
        font-size: larger;
    }
    .copyright{
        margin-top: -40px;
        margin-left: 20px;
        font-size: 15px;
    }
    .col-lg-10{
        text-align: left;
        font-size: 18px;
        margin-top: 5px;
    }
    .col-lg-3{
        margin-top: 15px;

    }
    .row{
        margin-top: 5px;
    }
    .about{
        font-size: 16px;
        margin-top: -5px;
    }
    @media screen and (max-width: 1000px) {
        .col-lg-10{
            text-align: center;
        }
     }
     .col-lg-3, .col-lg-5{
         border-bottom:2px solid white ;
     }
    