body{
    background-image: linear-gradient(to right,#3546e6,#eb46b7);  
}
.box{
	margin-top: 10vh;
	height: auto;
	width:500px;
  	background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(156,152,158,1));
	margin-left: auto;
	margin-right: auto;
	font-family: "Arial";
	padding:10px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px #575859;
	color: #ffff;
	text-align: center;
}
h3{
	text-align: center;
}
.row{
	padding: 5px;

}
.col-sm-5{
	padding-top: 10px;
}
.log_using{
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
i{
	padding-right: 30px;
	padding-left: 30px;
	cursor: pointer;
}
.reg{
	margin-top: 20px;
	color: black;
}
.col-sm-5 a:hover{
	color: white;
}
.reg a:hover {
	color: black;
}
.col-sm-4{
	text-align: left;
	margin-left: 10px;
}