body{
    background-image: linear-gradient(to right,#3546e6,#eb46b7); 
}
#main {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.box{
	justify-content: center;
	height: auto;
	width:500px;
  	background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(156,152,158,1));
	font-family: "Arial";
	padding:10px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px #575859;
	color: #ffff;
	text-align: center;
	position: relative;
	margin-top: 100px;
}
h3{
	text-align: center;
}
.row{
	padding: 5px;

}
.col-sm-5{
	padding-top: 10px;
}
.log_using{
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
.box i{
	padding-right: 30px;
	padding-left: 30px;
	cursor: pointer;
}
.reg{
	margin-top: 20px;
	color: black;
}
.col-sm-5 a:hover{
	color: white;
}
.reg a:hover {
	color: black;
}
.col-sm-4{
	text-align: left;
	margin-left: 10px;
}
/*.name{

	 color: white;
	 font-family: "Palatino";
	 font-size: 50px;
	 font-weight: bold;
	 position: fixed;
	 top: 5%;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 10px;
	margin-bottom: 10px;
	background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(156,152,158,1));

}*/
.header{
	color: white;
	text-align: center;
	font-size: 130px;
	position: fixed;
	top: 0px;
}