body{
    background-image: linear-gradient(to right,#3546e6,#eb46b7); 
}
.card{
  	background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(156,152,158,1));
    width: 350px;
    margin: 60px;
    float: left;
    border-radius: 20px;
    min-height: 400px;
}
.title{
    color: white;
    text-align: center;
    font-size: large;
    padding: 5px;
    margin-top: 15px;
    font-weight: bold;
}
.title a:hover{
    color: white;
}
.image{
    border-radius: 10px;
    width: 250px;
    height: 150px;
}
.img_box{
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    margin-bottom:15px;


}
.price{
    color: white;
    font-size: large;
    text-align: center;

}
.add{
    text-align: center;
    font-weight: bold;

}
.button{
    background-image: linear-gradient(to right,#3546e6,#eb46b7); 
    padding: 20px;
    margin-top: 20px; 
    width: 60%;
    margin-bottom: 20px;

}
.foot{
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(156,152,158,1));
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
    text-align: center;
    }
.main{
}