body{
    background-image: linear-gradient(to right,#3546e6,#eb46b7); 
    
}
.header{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}
.card{
  	background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(156,152,158,1));
    width: 80%;
    margin: 60px;
    border-radius: 30px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image{
    padding: 20px;
}
.card .col-lg-2,.card .col-lg-5{
    border-left: 1px solid white;
}
img{
    margin: auto;
    height: 150px;
    padding-left: 20px;

}
.image{
    border-right: solid 1px white;
}
.title, .price, .date{
    color: white;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title a:hover{
    color: white;
}
.total{
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(156,152,158,1));
    width: 80%;
    margin: 60px;
    border-radius: 30px;
    min-height: 100px;


}
.total .row{
    height: 100px;
}
.amt{
    color: white;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-left: 1px solid white;
}
.items{
    color: white;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 1px solid white;

}
.checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.btn{
    background-image: linear-gradient(to right,#3546e6,#eb46b7); 
    font-size: 50px;
    width: 60%;
    height: 50%;
}
#text1{
    font-size: large;
    font-weight: 500;
}